spring.datasource.url=url
spring.datasource.username=username
spring.datasource.password=password
spring.datasource.driver-class-name=driver

spring.jpa.database-platform = dialect
spring.jpa.generate-ddl=true
spring.jpa.hibernate.ddl-auto = update


server.contextPath=/api/*

# Application
application.jwt.secret=secret
application.jwt.token.prefix=Bearer
application.jwt.token.expiration=14

application.admin.email = admin@gmail.com
application.admin.password = password
application.admin.dni = 40100200